<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>
    <div id="app" class="container">
        <member></member>
        <member></member>
        <member></member>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        // Vue 컴포넌트 등록

        Vue.component('member', {
            template : '<h1> component template </h1>'
        })

        new Vue({
            el : '#app'
        })
    </script>
</body>
</html>
<!-- 
    Component
     - 기존 HTML 엘리먼트를 확장하여 재사용 가능한 형태
     - 사용자 정의 엘리먼트 (Vue.js가 특정 동작을 추가)
            
    컴포넌트 이름 : 태그명
    자바스크립트 객체 : 생성자 -> 컴포넌트 옵션
            
    두 방법으로 컴포넌트 생성 제공
    1. 인라인 방식
    2. <template></template> 태그 방식
-->