<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>
    <div id="app" class="container">
        <member></member>
        <member></member>
        <member></member>
    </div>

    <!-- Vue 컴포넌트 선언 - template 태그 방식 -->
    <template id="member-template">
        <h1>컴포넌트 탬플릿 입니다.</h1>
    </template>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        Vue.component('member', {
            template : '#member-template'
        })

        new Vue({
            el : '#app'
        })
    </script>
</body>
</html>