<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <!--
        부모 자식 간 통신
        HTML 엘리먼트 또는 Vue의 컴포넌트가 중첩된 형태
    -->
    <!-- 부모 컴포넌트 템플릿 -->
    <div id="app" class="container text-center">
        <p style="font-size: 60px;">
            {{ votes }}
        </p>
        <div class="row">
            <food @voted="countVote" name="떡볶이"></food>    
            <food @voted="countVote" name="치킨"></food>
            <food @voted="countVote" name="스파게티"></food>
        </div>
        <h2>투표 기록</h2>
        <ul class="list-group">
            <li class="list-group-item" v-for="vote in log">{{ vote }}</li>
        </ul>
        <pre style="text-align: left;">{{ $data }}</pre>
    </div>

    <!-- food 컴포넌트 템플릿 -->
    <template id="food">
        <div class="text-center col-lg-4">
            <p style="font-size: 40px;">{{ foodVotes }}</p>
            <button class="btn btn-default" @click="doVote">{{ name }}</button>
        </div>
    </template>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        // 자식 컴포넌트
        Vue.component('food', {
            template : '#food',
            props : ['name'],
            data : function() {
                return { foodVotes : 0 }
            },
            methods : {
                doVote : function(event) {
                    this.foodVotes++;
                    this.$emit('voted', event.srcElement.textContent);
                }
            }
        })

        // 부모 컴포넌트
        new Vue({
            el : '#app',
            data : {
                votes : 0,
                log : []
            },
            methods : {
                countVote : function(food) {
                    this.votes += 1;
                    this.log = this.log.reverse();
                    this.log.push(food + '투표!');
                    this.log = this.log.reverse();
                    with (this) {
                        window.setTimeout(function() {
                            log.pop()
                        }, 3000)
                    }
                }
            }
        })
    </script>
</body>
</html>