<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <div id="app" class="container">
        <h1>조건에 의한 필터링 (대사 검색)</h1>
        <div class="form-group">
            <label for="query">대사를 검색하세요</label>
            <input type="text" v-model="query" class="form-control">
        </div>
        <h3>검색 결과 입니다.</h3>
        <ul class="list-group">
            <li class="list-group-item" v-for="story in search">
                {{ story.actor }} said "{{ story.speech }}"
            </li>
        </ul>
        <pre>{{ $data }}</pre>
    </div>
    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el : '#app',
            data : {
                stories : [
                    {
                        speech : '아이엠 아이언 맨',
                        actor : '로버트 다우니 주니어'
                    },
                    {
                        speech : '아이돈 워너 고',
                        actor : '톰 홀랜드'
                    },
                    {
                        speech : '죽었지만 난 여전히 영웅이다',
                        actor : '로버트 다우니 주니어'
                    },
                    {
                        speech : '저는 스파이더맨이에요',
                        actor : '톰 홀랜드'
                    }
                ],
                query : ''
            },
            methods : {
                storiesBy : function(actor) {
                    return this.stories.filter(function(story){
                        return story.actor === actor
                    })
                }
            },
            computed : {
                search : function() {
                    var query = this.query
                    return this.stories.filter(function(story){
                        return story.speech.includes(query)
                    })
                }
            }
        })
    </script>
</body>
</html>