<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <div id="app" class="container">
        <h1>조건에 의한 필터링</h1>
        <h3>'로버트 다우니 주니어'의 대사</h3>
        <ul class="list-group">
            <li v-for="story in storiesBy('로버트 다우니 주니어')" class="list-group-item">
                {{ story.actor }} said "{{ story.speech }}"
            </li>
        </ul>
        <h3>'톰 홀랜드의 대사'</h3>
        <ul class="list-group">
            <li v-for="story in storiesBy('톰 홀랜드')" class="list-group-item">
                {{ story.actor }} said "{{ story.speech }}"
            </li>
        </ul>
        <pre>{{ $data }}</pre>
    </div>
    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el : '#app',
            data : {
                stories : [
                    {
                        speech : '아이엠 아이언 맨',
                        actor : '로버트 다우니 주니어'
                    },
                    {
                        speech : '아이돈 워너 고',
                        actor : '톰 홀랜드'
                    },
                    {
                        speech : '죽었지만 난 여전히 영웅이다',
                        actor : '로버트 다우니 주니어'
                    },
                    {
                        speech : '저는 스파이더맨이에요',
                        actor : '톰 홀랜드'
                    }
                ]
            },
            methods : {
                storiesBy : function(actor) {
                    return this.stories.filter(function(story){
                        return story.actor === actor
                    })
                }
            }
        })
    </script>
</body>
</html>